<li class="person-card">
    <a href="">
        <div class="person-card-header">
            <img class="person-image" src="{{ .Params.featured }}" alt="" />
            <h4>{{ .Params.author }}</h4>
        </div>
    </a>
    <div class="person-card-footer">
        <span class="person-role">Product Strategy</span>
        <div class="person-skills-container">
            <div class="person-skills">
                <span>Product Management</span>
            </div>
        </div>
    </div>
</li>
